.ui-autocombocontainer {
    display: block;
}

.ui-autocombobox { 
    color: #444;
    width: 100%;
    border: 1px solid #CCC;
    padding: 2px;
    font-family: "Trebuchet MS",Verdana,Helvetica,Sans-Serif;
    font-size: 1.2em;
    cursor: default;
}

.ui-autocombobutton {
    padding: 6px;
    margin: 0px 0px -7px -1px;
}

.ui-autocombolist {
    overflow-y: auto;
    overflow-x: none;
    max-height: 200px;
    font-size: 1em;
    font-family: "Trebuchet MS",Verdana,Helvetica,Sans-Serif;
}